In [22]:
import pandas as pd

from solve import solve
from initialization import generate_synthetic_data

In [ ]:
import pandas as pd

In [19]:
# Generate 1000 samples with 1000 features and zero correlation, along with the true regressor coefficient

x, y, b = generate_synthetic_data(n=1000, p=1000, supp_size=10, corr=0.0)

In [20]:
# Get the beta and support from the algorihtm

beta, support = solve(x, y, supp_size=10, gamma=0.5)

Iteration 1:
Current eta: 0.20451536968496647
Current cost: 0.2337969895813257

Iteration 2:
Current eta: 0.17962914957758314
Current cost: 0.22437247486801257

Iteration 3:
Current eta: 0.16596387312506874
Current cost: 0.21846831687601065

Iteration 4:
Current eta: 0.14473043048553086
Current cost: 0.2104844883804401

Iteration 5:
Current eta: 0.1420168189495984
Current cost: 0.2037913505830772

Iteration 6:
Current eta: 0.1430746877171334
Current cost: 0.19470932218986597

Iteration 7:
Current eta: 0.15181280036004047
Current cost: 0.18774365816665275

Iteration 8:
Current eta: 0.15520711559906378
Current cost: 0.17977516931656232

Iteration 9:
Current eta: 0.16261813863501334
Current cost: 0.17404957177969993

In [23]:
pd.DataFrame(beta)

            0
0    0.101257
1    0.000000
2    0.000000
3    0.000000
4    0.000000
..        ...
995  0.000000
996  0.000000
997  0.000000
998  0.000000
999  0.000000

[1000 rows x 1 columns]